<?xml version="1.0" encoding="UTF-8"?>
<!--


    Copyright (c) 2022 Université de Lorraine, 18/02/2021

    dn-sied-dev@univ-lorraine.fr

    Ce logiciel est un programme informatique servant à alimenter Publik depuis des groupes LDAP.

    Ce logiciel est régi par la licence CeCILL 2.1 soumise au droit français et
    respectant les principes de diffusion des logiciels libres. Vous pouvez
    utiliser, modifier et/ou redistribuer ce programme sous les conditions
    de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
    sur le site "http://www.cecill.info".

    En contrepartie de l'accessibilité au code source et des droits de copie,
    de modification et de redistribution accordés par cette licence, il n'est
    offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
    seule une responsabilité restreinte pèse sur l'auteur du programme,  le
    titulaire des droits patrimoniaux et les concédants successifs.

    A cet égard  l'attention de l'utilisateur est attirée sur les risques
    associés au chargement,  à l'utilisation,  à la modification et/ou au
    développement et à la reproduction du logiciel par l'utilisateur étant
    donné sa spécificité de logiciel libre, qui peut le rendre complexe à
    manipuler et qui le réserve donc à des développeurs et des professionnels
    avertis possédant  des  connaissances  informatiques approfondies.  Les
    utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
    logiciel à leurs besoins dans des conditions permettant d'assurer la
    sécurité de leurs systèmes et ou de leurs données et, plus généralement,
    à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.

    Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
    pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
    termes.


-->
<!DOCTYPE xml>
<configuration>
	<!-- increases performances for jul -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- Ajoute l'utilisateur connecté aux logs -->
	<turboFilter class="fr.univlorraine.publikfeed.utils.logging.UsernameTurboFilter" />
	<property name="LOG_LEVEL_PATTERN" value="user:%-10X{username:-NO_USER} %5p" />

	<!-- Configuration Spring Boot -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<property resource="META-INF/build-info.properties" />

	<springProperty scope="context" name="APP_URL" source="app.url" />
	<springProperty scope="context" name="MAIL_HOST" source="spring.mail.host" />
	<springProperty scope="context" name="MAIL_PORT" source="spring.mail.port" />
	<springProperty scope="context" name="MAIL_USERNAME" source="spring.mail.username" />
	<springProperty scope="context" name="MAIL_PASSWORD" source="spring.mail.password" />
	<springProperty scope="context" name="MAIL_FROM" source="spring.mail.from" />
	<springProperty scope="context" name="MAIL_TO" source="logging.mail.to" />

	<!-- Appenders -->
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${build.artifact}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/${build.artifact}-%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- deletes older files -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="MAIL" class="fr.univlorraine.publikfeed.utils.logging.GroupEventsSMTPAppender">
		<!-- Délai des mails en secondes (1 par défaut) -->
		<mailDelaySeconds>10</mailDelaySeconds>

		<smtpHost>${MAIL_HOST}</smtpHost>
		<smtpPort>${MAIL_PORT}</smtpPort>
		<username>${MAIL_USERNAME}</username>
		<password>${MAIL_PASSWORD}</password>

		<from>${MAIL_FROM}</from>
		<to>${MAIL_TO}</to>
		<subject>[${build.name}] Alerte provenant de ${APP_URL}</subject>
		<asynchronousSending>false</asynchronousSending>

		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
	</appender>

	<!-- Loggers -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="MAIL" />
	</root>

</configuration>
